body{
    background-color: rgb(26, 26, 135);
}
.box{
    background-color: aliceblue;
    height: 500px;
    width: 700px;
    border-radius: 10px;
    margin-left: 400px;
    margin-top: 90px;
}
h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:darkblue;
    text-align: center;
    padding-top: 15px;
}
.cont{
    font-weight: 800;
    font-size: 20px;
    padding: 30px;
    justify-content: space-around;
}
.same{
    margin-left: 10px;
    height: 20px;
}
.inte{
    margin-left: 15px;
}

.display{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 10px;
}

#submit{
    width: 70px;
    color: black;
    margin-left: 280px;
    margin-top: 40px;
    cursor:pointer;
}
.first{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-left: 250px;
    
    
    
}
.output{
    height: 15px;
    width: 200px;
    background-color: white;
    border:solid 0.1px black;
    font-size: 15px;
    padding: 2px;
    padding-bottom: 4px;
    margin-left: 220px;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
#dueam{
    margin-left: 260px;
    margin-top: 30px;
}
.install{
    text-align: center;
    font-family:cursive;
    font-size: 15px;
}
